<h1 mat-dialog-title>Deletar Entrada</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="entradaFormDelete">
    <mat-form-field class="example-full-width">
      <mat-label>Nome da Entrada</mat-label>
      <input matInput formControlName="nome" [(ngModel)]="entrada.nome" name="nome">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="valor" prefix="R$" [(ngModel)]="entrada.valor" name="valor">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="descricao" [(ngModel)]="entrada.descricao" name="descricao">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="removerEntrada()" color="warn">Deletar</button>
    <button mat-button (click)="cancelar()">Cancelar</button>
  </div>