<h1 mat-dialog-title>Deletar Estoque</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="estoqueFormDelete">

    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" [(ngModel)]="estoque.nome" name="nome" readonly>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Quantidade</mat-label>
      <input matInput formControlName="quantidade" [(ngModel)]="estoque.quantidade" name="quantidade" readonly>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Quantidade Mínima</mat-label>
      <input matInput formControlName="quantidadeMinima" [(ngModel)]="estoque.quantidadeMinima" name="quantidadeMinima" readonly>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="removerEstoque()" color="primary">Deletar</button>
  <button mat-button (click)="cancelar()">Cancelar</button>
</div>