<h1>Sobre</h1>
<h2>Criador: Gabriel Barbosa Bizerra</h2>
<h2>Sobre o sistema</h2>
<p>Este sistema foi feito para prática de estudos em Angular</p>
<h2>Informações de contato</h2>
<ul>
    <li><a href="https://www.linkedin.com/in/gabrielbarbosabizerra/" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/GabrielBarbosaBizerra" target="_blank">GitHub</a></li>
    <li><a href="tel:+5561994394385" class="telefone">Telefone de Contato e Whatsapp</a></li>
    <li><a href="mailto:gabrielbarbosabizerra@gmail.com" target="_blank">E-mail</a></li>
</ul>