.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top: 20px;
  }

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 125px;
}

.card{
  width: 400px; 
  height: 250px;
}
  .example-full-width {
    width: 100%;
  }